// Colors

$dark-green: hsl(192, 37%, 48%);
$light-blue: hsl(192, 90%, 77%);

$dark-purple: hsl(268, 34%, 53%);
$light-purple: hsl(268, 100%, 86%);

$black: hsl(240, 21%, 20%);
$white: hsl(0, 0%, 98%);

$gray: hsl(240, 10%, 57%);

//Fonts

$font-family: 'Red Hat Display', sans-serif;
$black-weight: 900;
$medium-weight: 500;

$body-font-size: 1.125rem;
$body-line-height: 1.625rem;

$h1-font-size: 4rem;
$h1-line-height: 4rem;

$h2-font-size: 2.5rem;
$h2-line-height: 2.75rem;

$overline-font-size: 1rem;
$overline-line-height: 1.625rem;
$overline-letter-spacing: 0.25rem;

//Sizes
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 375px;
