footer {
    text-align: center;
    color: $white;

    padding: 5.75rem 1.5rem 4.5rem;
    margin-top: -2rem;

    background-color: $dark-green;

    position: relative;

    h2 {
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: $black-weight;
        margin-bottom: 1.5rem;

        position: relative;
    }

    p {
        font-weight: $medium-weight;
        font-size: 1.125rem;
        line-height: 1.625rem;
        margin-bottom: 2rem;

        position: relative;
    }

    button {
        cursor: pointer;

        border: 0;
        border-radius: 1.813rem;
        padding: 1rem 2.5rem;

        color: hsla(0, 0%, 100%, 1);
        font-size: 1rem;
        line-height: 1.625rem;
        font-weight: $black-weight;

        background-color: $dark-purple;

        position: relative;

        &:hover {
            background: hsla(267, 54%, 71%, 1);
        }
        
        span {
            color: $light-purple;
        }
    }
}

footer::before {
    content: "";
    background-image: url('../../../assets/mobile/image-footer.jpg');
    background-size: cover;
    background-position: center;
    
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    
    opacity: 0.1;
}