// Image bubbles, main image

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow-x: hidden;
}

main img {
    width: 110%;
}

.desktop-main-img {
    display: none;
}

// Main text, main buttons

.main-text {
    width: 90%;
    max-width: 426.6px;
    
    margin-top: 3rem;
    margin-bottom: 2rem;
    
    text-align: center;
}

.main-text h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.75rem;
    color: $black;
    
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;
}

.main-text p {
    color: $gray;
    font-size: 1rem;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 4rem;
}

.button {
    cursor: pointer;
    text-align: center;
    
    color: hsla(0, 0%, 100%, 1);
    font-size: 1rem;
    line-height: $body-line-height;
    font-weight: $black-weight;
    
    border: 0;
    border-radius: 1.813rem;

    transition: all 0.2s ease;
}

.main-download {
    padding: 1rem 2.5rem;
    margin-bottom: 1rem;

    background-color: $dark-green;

    span {
        color: lightblue;
    }

    &:hover {
        background: hsla(192, 54%, 64%, 1);
    }
}

.main-what-is {
    padding: 1rem 1.813rem;
    background-color: $dark-purple;

    &:hover {
        background: hsla(267, 54%, 71%, 1);
    }
}

// Mobile Media Queries
@media only screen and (min-width: 331px) {
    .main-text h1 {
        padding: 0 1.8rem;
    }
}

@media only screen and (min-width: 340px) {
    .main-text h1 {
        padding: 0 1.5rem;
    }
}


@media only screen and (min-width: 379px) {
    .main-text h1 {
        padding: 0 2.5rem;
    }

    .main-text p {
        padding: 0 1.5rem;
    }
}

@media only screen and (min-width: 414px) {
    .main-text h1 {
        padding: 0 3.5rem;
    }

    .main-text p {
        padding: 0 2rem;
    }
}


@media only screen and (min-width: 445px) {
    .main-text h1 {
        padding: 0 4.5rem;
    }

    .main-text p {
        padding: 0 3.5rem;
    }
}

// Tablet Media Queries
@media only screen and (min-width: 600px) {
    .main-text {
        width: 60%;
        max-width: 487px;
    }
    
    .main-text h1 {
        font-size: 3rem;
        line-height: 3rem;

        padding: 0 1.5rem;
    }

    .main-text p {
        padding: 0 1.5rem;
    }

    .main-buttons {
        flex-direction: row;
    }

    .main-download {
        margin-bottom: 0;
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 665px) {
    .main-text h1 {
        padding: 0 2.5rem;
    }

    .main-text p {
        padding: 0 2.5rem;
    }
}

@media only screen and (min-width: 719px) {
    .main-text h1 {
        padding: 0 3.5rem;
    }

    .main-text p {
        padding: 0 3.5rem;
    }
}

@media only screen and (min-width: 772px) {
    .main-text h1 {
        padding: 0 4.5rem;
    }

    .main-text p {
        padding: 0 4.5rem;
    }
}



/*
@media only screen and (min-width: 48rem) {
    .mobile-main-img {
        display: none;
    }

    main {
        position: relative;
        overflow: hidden;
    }

    main img {
        width: 20%;
        max-width: 24.625rem;
    }

    main img:nth-child(2) {
        position: absolute;
        top: 0;
        left: -1.5%;
    }

    main img:nth-child(3) {
        position: absolute;
        top: 0;
        right: -1.5%;
    }
}
*/