main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

main img {
    width: 110%;
}

.main-text {
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 0 1.5rem;

    text-align: center;
}

.main-text h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.75rem;
    color: $black;

    padding: 0 1.75rem;
    margin-bottom: 1.5rem;
}

.main-text p {
    color: $gray;
    font-size: 1rem;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 4rem;
}

.button {
    cursor: pointer;
    text-align: center;
    
    color: hsla(0, 0%, 100%, 1);
    font-size: 1rem;
    line-height: $body-line-height;
    font-weight: $black-weight;
    
    border: 0;
    border-radius: 1.813rem;

    transition: all 0.2s ease;
}

.main-download {
    padding: 1rem 2.5rem;
    margin-bottom: 1rem;

    background-color: $dark-green;

    span {
        color: lightblue;
    }

    &:hover {
        background: hsla(192, 54%, 64%, 1);
    }
}

.main-what-is {
    padding: 1rem 1.813rem;
    background-color: $dark-purple;

    &:hover {
        background: hsla(267, 54%, 71%, 1);
    }
}